.Page {
    height: 100%;
    width: 100%;
    top: 0;
}
.Page-enter{
    opacity: 0;
}
.Page-enter-active{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.Page-exit{
    opacity: 1;

}
.Page-exit-active{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}